@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}


html {
  scroll-behavior: smooth;
}

.hero-bg {
  background-size: 500px;
  background-position: center 140px;
}

@media (max-width: 767px) {
  .hero-bg {
    background-size: 300px;
    background-position: center 148px;
  }
}

@keyframes glass-shine {
  0% { transform: translateX(-100%) skewX(-15deg); }
  100% { transform: translateX(250%) skewX(-15deg); }
}
